@media screen and (max-width: 870px){
    .links{
        display: none;
        
    }

    .mobile_menu_icon{
        display: block;
        
        
    }
    .mobile_menu_icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu_mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }


    .menu_mobile li{
        display: block;
        padding-top: 1.2rem;

    }
    .open{
        display: block;
        bottom: 43%;
        position: absolute;
        overflow: hidden;
        right: 12%;
        background-color: white;
    }

    /*Sobre*/

    .main_sobre{
        height: auto;
    }

    .container_paragrafo_sobre{
        margin: 0 2rem;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .container_sobre{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        align-self: center ;
        
    }

    .container_img_sobre{
        margin: auto;
    }
    .img_sobre{
        height: 350px;
        border-radius: 2rem;
    }
        
        
}

@media screen and (max-width: 740px){
    main{
        height: auto;
    }
   
    .main_home{
        flex-direction: column-reverse;
    }

    footer{
        display: none;
    }
}

@media screen and (max-width: 444px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 43%;
        position: absolute;
        overflow: hidden;
        right: 35%;
        background-color: white;
    }
}

@media only screen and (max-width: 445px) and (max-height: 850px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 36%;
        position: absolute;
        overflow: hidden;
        right: 32%;
        background-color: white;
    }
}

@media only screen and (max-width: 425px) and (max-height: 897px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 53%;
        position: absolute;
        overflow: hidden;
        right: 29%;
        background-color: white;
    }
}

@media only screen and (max-width: 400px) and (max-height: 897px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 50%;
        position: absolute;
        overflow: hidden;
        right: 29%;
        background-color: white;
    }
}

@media only screen and (max-width: 435px) and (max-height: 934px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 54%;
        position: absolute;
        overflow: hidden;
        right: 30%;
        background-color: white;
    }
}


@media only screen and ( 380px<= width <= 400px) and (max-height: 850px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 50%;
        position: absolute;
        overflow: hidden;
        right: 30%;
        background-color: white;
    }
}

@media only screen and ( 355px<= width <= 379px) and (max-height: 800px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 45%;
        position: absolute;
        overflow: hidden;
        right: 30%;
        background-color: white;
    }
}

@media only screen and ( 355px<= width <= 379px) and (max-height: 680px){
    .logo{
        display: none;
    }

    .open{
        display: block;
        bottom: 39%;
        position: absolute;
        overflow: hidden;
        right: 30%;
        background-color: white;
    }
}

@media only screen and ( 750px<= width <= 780px) and (1010px<= height <= 1040px){
    
    .open{
        display: block;
        bottom: 55%;
        position: absolute;
        overflow: hidden;
        right: 7%;
        background-color: white;
    }
}

@media only screen and ( 810px<= width <= 845px) and (1160px<= height <= 1195px){
    
    .open{
        display: block;
        bottom: 62%;
        position: absolute;
        overflow: hidden;
        right: 7%;
        background-color: white;
    }
}